VITE_SUPABASE_URL=https://fedxwquoepvkjctmvhzs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlZHh3cXVvZXB2a2pjdG12aHpzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4MzM2NDgsImV4cCI6MjA5OTQwOTY0OH0.QnCGWksa3gt6HZb-_PVVJwlTDtfHDep_8jzbiSMMnIc
